.header{
    display: flex;
    height: 50px;
    background-color: $dark;
    align-items: center;
    color: $textLight;
    position: sticky;
    top: 0;

    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: .5rem;

        img{
            height: 30px;
            width: 40px;
            object-fit: contain;
        }

        h2{
            font-size: large;
        }

        &::after{
            content: '';
            position: relative;
            margin-left: .5rem;
            height: 40px;
            border-right: 1px solid $borderLight;

        }
    }

    &__nav{
        display: flex;
        flex: 1;
        cursor: default;

        ul{
            margin: 0;
            padding: 0;

            li{
                list-style: none;
                display: inline-block;
                margin: 0 .5rem;
                color: $textNotActive;

                &:hover{
                    cursor: pointer;
                    color: $textLight;

                    &::after{
                        content: '';
                        border-bottom: 2px solid $textLight;
                        width: 45px;
                        height: 20px;
                        display: block;
                        position: absolute;
                        transform: translateY(-52%);
                    }
                }
            }
        }
    }

    &__rightNav{
        display: flex;
        margin-right: 1rem;
        align-items: center;
        transition: all 300ms ease-in-out;

        &Search{
            display: flex;
            transition: all 300ms ease-in-out;

            input{
                border-radius: 4px;
                outline: none;
                border: none;
            }

            .MuiSvgIcon-root{
                // transform: translateX(-100%);
                border-radius: 4px;
                // margin-right: -10px;
                color: $textLight;
            }

        }

        .MuiAvatar-root{
            width: 24px;
            height: 24px;
        }
    }
}